.home {
    background: linear-gradient(to top, #0000006c, #557c934c);
}

.main{
    z-index: 0;
}
.main-section {
    position: relative;
    /* backdrop-filter: blur(10px); */
    z-index: 0;
}

*::-webkit-scrollbar {
    display: none;
}
