.authentication{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form{
    width: 25vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;


}

.form-btn{
    display: flex;
    gap: 10px;
}

.form-btn .active{
    border-bottom: 0.1px solid black;
    cursor: pointer;
    color: black;
}

.form-btn .absent{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.532);
    
}

.login, .register{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 50vh;
    text-align: center;
    margin: 20px 10px;
}

input{
    padding: 5px 10px;
    width: 80%;
    border-radius: 10px;
    border: 0.1px solid black;
}

img{
    border-radius: 50%;
    height: 25vh;
}

.btn{
    padding: 5px 20px;
    border: 0.1px solid black;
    border-radius: 20px;
}

.login .btn:hover{
    transition: 0.4s;
    background-color: #836FFF;
    color: white;
    border: none;
    cursor: pointer;
}

.register .btn:hover{
    background-color: #e5f046;
    transition: 0.4s;
    color: rgb(22, 21, 21);
    border: none;
    cursor: pointer;

}

input:focus{
    padding: 10px 15px;
    border-color:1px solid yellow;
    transition: 0.2s;
}