.header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

.form-select{
    width: 60%;
}

.head-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.action-list{
    display: flex;
    justify-content:space-around;
}

.action-btn{
    width: 25%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(174, 169, 169, 0.652);
    
}