.wallet-card{
    width: 60vw;
    height: 70vh;
    background-color: #3734308d;
    border-radius: 10px; 
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}

.value{
    font-size: xx-large;
    color: aliceblue;
    font-weight: 700;
}

.balance{
    text-align: center;
}
.crypto-balance{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.crypto-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border: 0.1px solid rgba(255, 255, 255, 0.274);
    border-radius: 50px;
    padding: 10px 20px;
}

.crypto-card img{
    height: min(10vh, 10vw);
}

.crypto-details{
    text-align: center;
}

